{% extends "interface.html" %}

{% block mainmenu2 %}
    <a href="foo">Foo</a>
    |
    <a href="bar">Bar</a>
    |
    <a href="baz">Baz</a>
    |
    <a href="quux">Quux</a>
{% endblock %}

{% block body %}
    <form id="interpreter_form" autocomplete="off">
        <div class="issue-list">
            <div id="interpreter_area">
                <div id="interpreter_output"></div>
            </div>
        </div>

        <div id="oneline" class="promptBox">
            <input id="interpreter_text" name="input_text" type="text" class="textbox" />
        </div>
    </form>
{% endblock %}
