{# Usage instructions template
 #
 # Copyright 2008 Proven Corporation Co., Ltd., Thailand
 #
 # This file is part of App Engine Console.
 #
 # App Engine Console is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, version 3 of the License.
 #
 # App Engine Console is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with App Engine Console; if not, write to the Free Software
 # Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 #}

{% extends "help.html" %}

{% block helpcontent %}
    <h3>The Console</h3>
    <p>
        First enable Javascript in your browser, then click on the "Console" tab above.  The large gray
        square on top is the console output, and the small input line on bottom is where you type your text.
        If you see green Python-style banner in the output window, then everything is working.
    </p>

    <h4>Authorization</h4>
    <p>
        Depending on the environment, App Engine Console may require you to log in first.  You can always simply
        enter a statement, and if you lack authorization, App Engine Console will tell you to log in first:
    </p>
    <div class="example pygments">{{example1}}</div>

    <h4>Interaction</h4>
    <p>
        Once you gain authorization to use the console, everything is pretty much just like a Python session.
        Type statements at the prompt and press Enter to submit them to Python.  Press the up and down
        arrow keys to move through the statement history, and type <tt>clear</tt> to clear the screen.
    </p>
    <div class="example pygments">{{example2}}</div>
{% endblock %}
