<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
{# App Engine Console - main interface template                               #}
{#                                                                            #}
{# This file is part of App Engine Console.                                   #}
{#                                                                            #}
{# App Engine Console is free software; you can redistribute it and/or modify #}
{# it under the terms of the GNU General Public License as published by       #}
{# the Free Software Foundation, version 3 of the License.                    #}
{#                                                                            #}
{# App Engine Console is distributed in the hope that it will be useful,      #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of             #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the              #}
{# GNU General Public License for more details.                               #}
{#                                                                            #}
{# You should have received a copy of the GNU General Public License          #}
{# along with App Engine Console; if not, write to the Free Software          #}
{# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA  #}
<head>
  <title>
    {% if is_dev %}
      [DEV] -
    {% endif %}
    {{app}}
  </title>
  <link rel="icon" href="/favicon.ico" />
  <link type="text/css" rel="stylesheet" href="/console/static/style/console.css" />
  <link href="/console/static/style/interpreter.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/console/static/javascript/MochiKit.js"></script>
  <script type="text/javascript" src="/console/static/javascript/interpreter.js"></script>
</head>
<body>

<div align="right">
    <div style="float:left; color:green; font-weight:bold">
        {{app|capfirst}} {{version}}
        {% if is_dev %}
            (DEVELOPMENT)
        {% endif %}
    </div>

    {% if user %}
        <b>{{email}} ({{user}})</b>
        |
    {% endif %}

    {% if is_dev %}
        <a class="novisit" target="_blank" href="/_ah/admin">Admin</a>
        |
        <a class="novisit" href="http://{{version}}.{{app}}.appspot.com/" target="_blank">Production</a>
        |
    {% endif %}

    <a class="novisit" href="http://appengine.google.com/dashboard?app_id={{app}}" target="_blank">Dashboard</a>
    |
    <a class="novisit" href="http://www.proven-corporation.com/contact/">Contact Me</a>
    |
    {% if user %}
        <a class="novisit" href="{{sign_out}}">Sign out</a>
    {% else %}
        <a class="novisit" href="{{sign_in}}">Sign in</a>
    {% endif %}
</div>

<div class="mainmenu">
  {% block mainmenu %}
      {% for menupage in pages %}
          {% ifequal controller menupage.name %}
              <a href="{{menupage.href}}" class="active">{{menupage.name}}</a>
          {% else %}
              <a href="{{menupage.href}}">{{menupage.name}}</a>
          {% endifequal %}
      {% endfor %}
  {% endblock %}
</div>

<div class="mainmenu2">
    {% block mainmenu2 %}
        {% for sub in subpages %}
            {% ifequal sub subpage %}
                <a href="/console/{{controller|lower}}/{{sub}}" class="active">{{sub|capfirst}}</a>
            {% else %}
                <a href="/console/{{controller|lower}}/{{sub}}">{{sub|capfirst}}</a>
            {% endifequal %}

            {% if not forloop.last %}
                |
            {% endif %}
        {% endfor %}
    {% endblock %}

    {% block settings %}
        {% for setting in settings %}
            {% if forloop.first %}
                Settings:
            {% endif %}

            {% ifequal setting.type 'hidden' %}
                <input type="hidden" id="setting_{{setting.id}}" value="{{setting.value}}" />
            {% else %}
                <select id="setting_{{setting.id}}">
                    {% for option in setting.options %}
                        <option value="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            {% endifequal %}
        {% endfor %}
    {% endblock %}
</div>

<div>
    {% block body %}
        PAGE BODY GOES HERE
    {% endblock %}
</div>

{% block poweredby %}
{% endblock %}

<div class="extra" style="font-size: 9pt; float: right;">
  {% include "console_revision.html" %}
</div>

</body>
</html>
